<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>IDvasive Successfully Identified Your Plant </title>


    <h1>IDvasive Detection Results from your upload:</h1>
    <heading1><u>Detected the plant:</u> <i>{{name}}</i> </heading1>
    <p> </p>
    <p> </p>
    <body1> {{result}}</body1>
    <p> </p>
    <heading1><b> <u>History and Information: </u> </b></heading1>
    <p> </p>
    <body1> {{result2}}</body1>
</head>


<body>

</body>
</html>